body{
    background: lightblue;
    margin: right 250px;
}

header#social {
    background: white;
    margin:auto;
}

header#fam {
    font-size: 48px;
    margin-top: 120px;
    background: white;
}


img#doo1 {
width: auto;
height: auto;
float: left;
}
img#doo2 {
   width: 382.5px;
   height: 510px;
   margin-top: 170px;
    }

img#doo3 {
   width: 510px;
   height: auto;
   margin-right:auto;
   margin-left: auto;
}

img#hopeCity {
    margin-left:475px;
}

p#church {
font-size: 18px;
margin-left:475px;
margin-top:-250px;
}