body p{
    background: white;
    margin: right 250px;
}

header {
    background: black;
    margin:auto;
}

h1#about {
    color: white;
}

img#doo1 {
width: auto;
height: auto;
float: left;
}
img#doo2 {
   width: 382.5px;
   height: 510px; ;
    }

img#doo3 {
   width: 510px;
   height: auto;
   margin-right:auto;
}

p#travel {
    font-size: 18px;
}